@using PagedList;
@using PagedList.Mvc;
@using eimprovement.WebApplication.Enum;
@model IPagedList<eimprovement.WebApplication.Models.Pet>

@{
    ViewBag.Title = "Pet List";
}

<h4>Pets</h4>
<br/>
<p>
    <input type="button" value="New Pet" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Pet")'" />
</p>
<br />
<p>
    @using (Html.BeginForm("Index", "Pet", FormMethod.Get))
    {
    <div class="form-inline">
        <div class="form-group">
            <label for="statusPet">Status:</label>
            @Html.DropDownList("statusPet",
                              new SelectList(Enum.GetValues(typeof(Status))),
                              null,
                              new { @class = "form-control" })

        </div>
            
            <input type="submit" value="Filter" class="btn btn-primary" />

        </div>

        }
</p>
<table class="table">
    <tr>
        <th scope="col">
            @Html.DisplayName("Id")
        </th>
        <th scope="col">
            @Html.DisplayName("Name")
        </th>
        <th scope="col">
            @Html.DisplayName("Status")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td scope="row">
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td scope="row">
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td scope="row">
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td scope="row">
            @Html.ActionLink("Set Sold", "Edit", new { id = item.id }) |            
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, statusPet = Request.QueryString["statusPet"] }))
