@model IEnumerable<eimprovement.WebApplication.Models.Pet>

@{
    ViewBag.Title = "Available Pets";
}

<h4>Available Pets</h4>

<p>
    @Html.ActionLink("Create New Pet", "Create", new { }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.name)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.status)</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            String idtr = "tr" + item.id;
            
            <tr id="@idtr">
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-warning" })
                    <button class="btn btn-primary" onclick="FlagSold(@item.id)">Flag as Sold</button>
                </td>
            </tr>
        }
    </tbody>

</table>


<script type="text/javascript">
    function FlagSold(idD) {
        $.ajax({
            url: '/Pets/FlagSold',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ id: idD }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                $("#messageModal .modal-body").html(data);
                $('#messageModal').modal('show');
                $("#tr" + idD + " td:nth-child(2)").html("sold");
            },
            error: function (xhr) {
                $("#messageModal .modal-body").html('Error, could not flag Pet as sold');
                $('#messageModal').modal('show');
            }
        });
    }

</script>