@model IEnumerable<eimprovement.WebApplication.ViewModels.PetViewModel>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Add New Pet", "Create")
</p>

<div class=""> </div>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Category</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @item.Id</td>
            <td> @item.Caterory</td>
            <td> @item.Name</td>
            <td>
                @Html.ActionLink("Set Pet as Sold", "Sold", new { id = item.Id })
            </td>
        </tr>
    }

</table>
